body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-indent: 20px;
    text-align: justify;
    
    
}
.parrafos{
    font: size 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}
#titulo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;


}
.encabezado{
    background-color: black;
    color: #fff;
}
img{
    width: 100px;
}
a{
color:#fff


}